/* ---- MAIN ---- */
/* mobile */
#main {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 50px;
}
#main .middle {
  /* padding-top: 16px; */
  padding-top: 8px;
}
#main .line1 span {
  background-color: #E88296;
}
#main .line2 {
  display: inline-block;
  width: 100%;
  padding-bottom: 8px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  line-height: 1.35em;
  text-align: justify;
  vertical-align: middle;
  letter-spacing: -1px;
}
#main .line1, .line3, .line4 {
  line-height: 1.05;
}

/* tablet, pc */
@media screen and (min-width: 768px) {
  #main {
    font-size: 80px;
  }
  #main .line2 {
    width: 300px;
  }
}


/* ---- SKILLS ---- */
/* mobile */
#skills {
  text-align: right;
  padding-top: 100px;
}
#skills .sk_intro,
#portfolio .pf_intro,
#contact .ct_intro {
  font-size: 30px;
  border-bottom: 3px solid #333;
  display: inline-block;
  position: relative;
  line-height: 1.2;
}
#skills h3 {
  display: none;
}

#skills .list {
  font-family: 'Inconsolata', monospace;
  padding-top: 48px;
  margin: 0 auto;
}
#skills .list .i_list {
  width: 100%;
  position: relative;
}
#skills .list .i_list:not(:last-child) {
  padding-bottom: 50px;
}
#skills .list li img {
  border-radius: 50px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  padding: 8px;
  box-sizing: content-box;
}
#skills .list li img:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #E88296;
}
#skills .sub li {
  padding: 4px 0;
}

.arrow_box {
  position: absolute;
  width: 70%;
  padding: 16px;
  top: 20px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
  font-family: 'Gothic A1', sans-serif;
  line-height: 1.6em;
  text-align: justify;
  letter-spacing: -1px;
}

.arrow_box:after {
  position: absolute;
  bottom: 50%;
  right: -20px;
  transform: rotate(90deg);
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  content: ' ';
}

/* tablet, pc */
@media screen and (min-width: 768px) {
  #skills h3 {
    padding-top: 16px;
    letter-spacing: -1px;
  }
  #skills .list {
    position: relative;
  }
  #skills .list .i_list {
    width: 160px;
    float: right;
    position: static;
  }
  
  .arrow_box {
    display: none;
    width: 30%;
    top: 50px;
    right: 450px;
  }
}


/* ---- PORTFOLIO ---- */
/* mobile */
#portfolio {
  padding-top: 130px;
  clear: both;
  position: relative;
}
#portfolio h3 {
  padding: 16px 0 28px 0;
  letter-spacing: -1px;
  line-height: 1.6em;
}
.filtering {
  margin-bottom: 20px;
  padding: 0;
}
.filters li {
  color: #333;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}

.filters li:hover,
.filters li:focus,
.filters li:active {
  text-decoration: none;
}

.filters li:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #333;
}

.filters li.active {
  color: #333;
}

.filters li.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #333;
}

.item {
  border: none;
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s ease;
  transform: scale(1);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 8px;
  cursor: pointer;
}

.item .item-wrap > .work-info span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 8px 0;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

/* tablet, pc */
@media screen and (min-width: 768px) {
  #portfolio h3 {
    padding: 16px 0 48px 0;
  }
  .filtering {
    position: absolute;
    top: 190px;
    right: 0;
    padding: 0;
    margin-bottom: 0px;
  }
}

/* --- 디자인 슬라이드 박스 --- */
#design-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;

  display: none;
  align-items: center;
  user-select: none;
}
.swiper {
  width: 95%;
  height: 70%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 75%;
  height: 85%;
  object-fit: contain;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
}
.swiper-pagination-bullet-active {
  color: #f0ede8;
  background: #f0ede8;
}
.swiper-button-next,
.swiper-button-prev {
  transition: 0.5s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #333;
  background-color: #f0ede8;
  font-size: 16px;
  border-radius: 50px;
}
.swiper-button-next:after {
  padding: 11px 14px 11px 16px;
}
.swiper-button-prev:after {
  padding: 11px 16px 11px 14px;
}

/* tablet, pc */
@media screen and (min-width: 768px) {
  .swiper {
    width: 60%;
    height: 70%;
  }
  .swiper-slide img {
    display: block;
    width: 85%;
    height: 85%;
    object-fit: contain;
  }
}


/* ---- CONTACT ---- */
#contact {
  text-align: center;
  padding-top: 100px;
  border-top: 1px dashed #303030;
}
#contact .ct_wrap {
  padding-top: 30px;
  width: 200px;
  margin: 0 auto;
  line-height: 1.4em;
  font-family: 'Inconsolata', monospace;
  text-align: left;
}
#contact .info {
  font-weight: 300;
  font-size: 14px;
  color: rgb(117, 117, 117);
}
#contact .content:hover {
  color: #E88296;
  text-decoration: none;
  transition: 0.3s ease-out;
}
#contact .content:not(:hover) {
  transition: 0.3s ease-out;
}

#contact .addr {
  padding-top: 8px;
}

#contact span.content {
  font-family: 'Gothic A1', sans-serif;
  letter-spacing: -1px;
}

#contact .btn_resume {
  width: 100%;
  border: 1px solid #303030;
  text-transform: uppercase;
  box-shadow: 3px 3px #303030;
  padding: 24px 10px;
  cursor: pointer;
  letter-spacing: 1.1px;
  font-size: 12px;
  margin: 30px 0 100px 0;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
#contact .btn_resume:hover {
  background-color: #e4aeb9;
  transition: 0.3s ease-out;
}
#contact .btn_resume:not(:hover) {
  background-color: transparent;
  transition: 0.3s ease-out;
}